.content-booking {
  text-align: center;
  font-size: 2rem;
  padding-top: 200px;
}

.fa-check {
  color: #24e782;
  font-size: 8rem;
}

.thankyou-container {
  padding: 16px 200px;
}

.thankyou-text {
  max-width: 700px;
}